body{



	font-family: sans-serif;



	margin: 0;



}





.area{
	margin-top: -40px;
	box-shadow: 0 10px 10px #ccc;
	padding: 5px;



	box-sizing: border-box;



	max-width: 900px;

		



}







.grade{

	position: absolute;

	margin-top:60%;

    z-index: 999;

	width: 49%;

	height: 150px;

	border-right: 5px solid; 

	border-color: #ffc10752;

	





}

.grade2{

	position: absolute;

	margin-top: 80%;

    margin-left: 25%;

    z-index: 999;

	width: 49%;
	border-top: 5px solid; 

	border-color: #ffc10752;
	
}
.grade_quado{

	position: absolute;

	margin-top: 120%;

  

    z-index: 999;

	width: 100%;
	border-top: 205px solid; 

	border-color: #ffffff;
	
}




.area video{

	z-index: 1;

	margin-top: -40px;



	width:100%;



	



	background-color: whitesmoke;

		

}







.area textarea{



    display: none







}







.area button{



	-webkit-appearance: none;



	width: 100%;



	box-sizing: border-box;



	padding: 10px;



	text-align: center;



	background-color: #068c84;



	color: white;



	text-transform: uppercase;



	border: 1px solid white;



	box-shadow: 0 1px 5px #666;



}







.area button:focus{



	outline: none;



	background-color: #0989b0;



}







.area img{



	max-width: 100%;



	height: auto;



}







.area .caminho-imagem{



	padding: 5px 10px;



	border-radius: 3px;



	background-color: #068c84;



	text-align: center;



}







.area .caminho-imagem a{



	color: white;



	text-decoration: none;



}







.area .caminho-imagem a:hover{



	color: yellow;



}



h4{       width: 25%;



           float:left;  



   	text-align: center;



   		height: 40px;



}

h5{       width: 45%;



           float:left;  



   	text-align: center;

    font-size: 14px;

   		height: 40px;

   		margin-top: -10px;



}



#ativar_captura{

	display: block;

}



#desativar_captura{

	display: none;

}